<label style="font-size: 25px">Buscar:</label>
<div id="caja1">
    <select class="form-control" name="sel1" style="width: 150px;">
        <option>Nombre</option>
        <option>ID</option>
        <option>Apellido</option>
        <option>Alias</option>
        <option>Email</option>
        <option>Dirección</option>
    </select><br>
    <input type="text" placeholder="Buscar" name="filtrado" id="filtrado"  class="form-control">
    <br>
    <a class="btn btn-default" id="filtrar" role="button">
        <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Buscar
    </a>
    <a class="btn btn-default" id="limpiar" role="button">
        <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Limpiar
    </a>

</div>
<br>


<div class="panel panel-default">
    <div class="panel-heading">Listado de personas</div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Username</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Eliminar</th>
                    <th>Editar</th>
                  </tr>
            </thead>
            <tbody>
                <% _.forEach(collection, function(item){ %>
                    <tr  data-id="<%=item.id%>">
                        <td >
                            <div type="text" id="<%=item.id%>nombre1" style.display = 'inline' > <%=item.nombre %> </div>
                            <input name="nombre1" id="<%=item.id%>nombre" class="form-control" type="hidden"  value="<%=item.nombre %>">
                        </td>

                        <td>
                            <div type="text" id="<%=item.id%>apellido1" style.display = 'inline' > <%=item.apellido %> </div>
                            <input name="apellido1" id="<%=item.id%>apellido" class="form-control" type="hidden" value="<%=item.apellido %>">
                        </td>
                        <td>
                            <div type="text" id="<%=item.id%>alias1" style.display = 'inline' > <%=item.alias %> </div>
                            <input name="alias1" id="<%=item.id%>alias" class="form-control" type="hidden" value="<%=item.alias %>">
                        </td>
                        <td>
                          <div type="text" id="<%=item.id%>telefono1" style.display = 'inline' > <%=item.telefono %> </div>
                          <input name="telefono1" id="<%=item.id%>telefono" class="form-control" type="hidden" value="<%=item.telefono %>">
                        </td>
                        <td>
                            <div type="text" id="<%=item.id%>direccion1" style.display = 'inline' ><%=item.direccion %> </div>
                            <input name="direccion1" id="<%=item.id%>direccion" class="form-control" type="hidden" value="<%=item.direccion %>">
                        </td>
                        <td>
                          <div type="text" id="<%=item.id%>email1" style.display = 'inline' > <%=item.email %> </div>
                            <input name="email1" id="<%=item.id%>email" class="form-control" type="hidden" value="<%=item.email %>">
                        </td>
                        <td>
                          <%=item.fechacreacion %>


                        </td>
                        <td>
                            <a class="btn btn-default" id="eliminar" role="button" data-id="<%=item.id%>">Eliminar</a>
                        </td>
                        <td>
                            <a class="btn btn-default" id="editar" role="button" data-id="<%=item.id%>">Editar</a>
                            <a class="btn btn-default" id="guardar1" role="button" data-id="<%=item.id%>">Guardar</a>
                        </td>


                    </tr>

                    <% }); %>
            </tbody>
        </table>
    </div>
</div>
<!-- Fin templates/lista-persona-tmpl -->
